.app-body, .app-html {
    font-family: system-ui;
    height: 100%;
    background-color: rgb(26, 26, 32);
    color: white;
}

.app-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
}

.flex {
    display: flex;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-auto {
    flex: 1 1 auto;
}

.w-96 {
    width: 24rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-center {
    text-align: center
}

.mb-4 {
    margin-bottom: 1rem;
}

.flex-row {
    flex-direction: row;
}

.gap-3 {
    gap: 0.75rem;
}

.btn {
    align-items: center;
    border-color: transparent;
    border-radius: 0.25rem;
    border-width: 1px;
    display: inline-flex;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
    pointer-events: auto;
}

.relative {
    position: relative;
}

.btn-primary {
    background-color: rgb(23,64,139);
    color: white;
}

.btn-primary:hover {
    background-color: rgb(18, 51, 111)
}

.gap-2 {
    gap: 0.5rem;
}

a {
    color: inherit; 
    text-decoration: none;
} 